# 1. Import required libraries and read the dataset

In [25]:
import pandas as pd
df1 = pd.read_csv("Apps_data+(1).csv")
df1.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

# 2. Check the first few samples, shape, info of the data and try to familiarize yourself with different features.

In [26]:
df1.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [27]:
df1.shape

(10841, 13)

In [28]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

## 3. Check summary statistics of the dataset. List out the columns that need to be worked upon for model building.

In [29]:
df1.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [30]:
# Columns = ['App', 'Last Updated', 'Genres', 'Android Ver', 'Current Ver']

# 4. Check if there are any duplicate records in the dataset? if any drop them.

In [31]:
df1[df1.duplicated(keep=False)].sort_values('App')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1393,10 Best Foods for You,HEALTH_AND_FITNESS,4.0,2490,3.8M,"500,000+",Free,0,Everyone 10+,Health & Fitness,"February 17, 2017",1.9,2.3.3 and up
1407,10 Best Foods for You,HEALTH_AND_FITNESS,4.0,2490,3.8M,"500,000+",Free,0,Everyone 10+,Health & Fitness,"February 17, 2017",1.9,2.3.3 and up
2543,1800 Contacts - Lens Store,MEDICAL,4.7,23160,26M,"1,000,000+",Free,0,Everyone,Medical,"July 27, 2018",7.4.1,5.0 and up
2322,1800 Contacts - Lens Store,MEDICAL,4.7,23160,26M,"1,000,000+",Free,0,Everyone,Medical,"July 27, 2018",7.4.1,5.0 and up
2256,2017 EMRA Antibiotic Guide,MEDICAL,4.4,12,3.8M,"1,000+",Paid,$16.99,Everyone,Medical,"January 27, 2017",1.0.5,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3063,"theScore: Live Sports Scores, News, Stats & Vi...",SPORTS,4.4,133833,34M,"10,000,000+",Free,0,Everyone 10+,Sports,"July 25, 2018",6.17.2,4.4 and up
3055,"theScore: Live Sports Scores, News, Stats & Vi...",SPORTS,4.4,133833,34M,"10,000,000+",Free,0,Everyone 10+,Sports,"July 25, 2018",6.17.2,4.4 and up
3103,trivago: Hotels & Travel,TRAVEL_AND_LOCAL,4.2,219848,Varies with device,"50,000,000+",Free,0,Everyone,Travel & Local,"August 2, 2018",Varies with device,Varies with device
3202,trivago: Hotels & Travel,TRAVEL_AND_LOCAL,4.2,219848,Varies with device,"50,000,000+",Free,0,Everyone,Travel & Local,"August 2, 2018",Varies with device,Varies with device
3118,trivago: Hotels & Travel,TRAVEL_AND_LOCAL,4.2,219848,Varies with device,"50,000,000+",Free,0,Everyone,Travel & Local,"August 2, 2018",Varies with device,Varies with device

In [32]:
# Size of Data Frame Before Droping Duplicates
df1.shape

(10841, 13)

In [33]:
df1.duplicated().sum()

483

In [34]:
df1.drop_duplicates(inplace=True)

In [35]:
# Size of Data Frame After Droping Duplicates
df1.shape

(10358, 13)

# 5. Check the unique categories of the column 'Category', Is there any invalid category? If yes, drop them.

In [36]:
df1.Category.unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [37]:
df1[df1.Category == '1.9']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [38]:
df1.drop(index = 10472, inplace = True)

## 6. Check if there are missing values present in the column Rating, If any? drop them and and create a new column as 'Rating_category' by converting ratings to high and low categories(>3.5 is high rest low)

In [39]:
df1.Rating.isnull().sum()

1465

In [40]:
df1.dropna(subset=['Rating'], inplace=True)

In [41]:
df1['Rating Category'] = list(map(lambda x: "high" if x>3.5 else "low", df1.Rating))

In [42]:
df1['Rating Category']

0        high
1        high
2        high
3        high
4        high
         ...
10834    high
10836    high
10837    high
10839    high
10840    high
Name: Rating Category, Length: 8892, dtype: object

In [43]:
df1['Rating Category'].describe()

count     8892
unique       2
top       high
freq      8012
Name: Rating Category, dtype: object

# 7. Check the distribution of the newly created column 'Rating_category' and comment on the distribution.

In [44]:
df1.groupby('Rating Category')['Rating Category'].count()

Rating Category
high    8012
low      880
Name: Rating Category, dtype: int64

In [45]:
# Here the Rating categories into two things. One is High and another is Low. Where high define rating that
# as >3.5 and for low it defines as the rating < 3. So from above data we can say that The most application have higher rating.
# with 8012 count of High and 880 count of low.

## 8. Convert the column "Reviews'' to numeric data type and check the presence of outliers in the column and handle the outliers using a transformation approach.(Hint: Use log transformation)

In [46]:
df1.Reviews = pd.to_numeric(df1.Reviews)

In [74]:
df = df1.copy()

In [75]:
df1.Reviews.max()

78158306

In [76]:
df1.Reviews.min()

1

In [77]:
print(df1.Reviews.quantile(0.25))
print(df1.Reviews.quantile(0.75))
df1.Reviews.median()

164.0
71266.75

4714.5

In [78]:
import pandas as pd

# Assuming 'df' is your DataFrame and 'column_name' is the name of the column containing the data
column_name = 'Reviews'
z_score_threshold = 3  # Adjust this threshold as needed

# Calculate the Z-score for the column
z_scores = (df1[column_name] - df1[column_name].mean()) / df1[column_name].std()

# Identify outliers based on the Z-score threshold
outliers = df1[abs(z_scores) > z_score_threshold]

In [ ]:
import pandas as pd

# Assuming 'df' is your DataFrame and 'column_name' is the name of the column containing the data
column_name = 'Reviews'
z_score_threshold = 3  # Adjust this threshold as needed

# Calculate the Z-score for the column
z_scores = (df1[column_name] - df1[column_name].mean()) / df1[column_name].std()

# Identify outliers based on the Z-score threshold
outliers = df1[z_scores < -z_score_threshold]

outliers

In [ ]:
index_all = outliers.index
df.drop(index= index_all, inplace= True)

In [ ]:
df.shape

In [ ]:
df1.Reviews = df1.Reviews.astype('int64')
# df1[df1.Reviews.str.contains('3.0M')]

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.boxplot(df1["Reviews"])

In [ ]:
import numpy as np

In [ ]:
df1.Reviews = np.log(df1['Reviews'])

In [ ]:
df1.Reviews

In [ ]:
sns.boxplot(df1.Reviews)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.boxplot(df1.Reviews)
plt.show()

# 9. The column 'Size' contains alphanumeric values, treat the non numeric data and convert the column into suitable data type. (hint: Replace M with 1 million and K with 1 thousand, and drop the entries where size='Varies with device')

In [ ]:
df1 = df1[df1.Size != "Varies with device"]
df1['Size'] = df1['Size'].str.replace('M', 'e6').str.replace('k', 'e3').astype(float)

In [ ]:
df1.Size

# 10. Check the column 'Installs', treat the unwanted characters and convert the column into a suitable data type.

In [ ]:
df1.Installs.unique()

In [ ]:
df1.Installs = df1.Installs.str.replace('+','')

In [ ]:
df1.Installs = df1.Installs.str.replace(',','')

In [ ]:
df1.Installs = df1.Installs.astype('int64')

In [ ]:
df1.Installs

# 11. Check the column 'Price' , remove the unwanted characters and convert the column into a suitable data type.

In [ ]:
df1.Price.unique()

In [ ]:
df1.Price = df1.Price.str.replace('$','')
df1.Price = df1.Price.astype('float')

In [ ]:
df1.Price

# 12. Drop the columns which you think redundant for the analysis.(suggestion: drop column 'rating', since we created a new feature from it (i.e. rating_category) and the columns 'App', 'Rating' ,'Genres','Last Updated', 'Current Ver','Android Ver' columns since which are redundant for our analysis)

In [ ]:
df1.head()

In [ ]:
df1.describe()

In [ ]:
df1.drop({'App', 'Last Updated', 'Genres', 'Android Ver', 'Current Ver', 'Rating'}, axis = 1, inplace=True)

In [ ]:
df1.head()

# 13.  Encode the categorical columns.

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df1['Category'] = le.fit_transform(df1['Category'])

df1['Rating_category'] = le.fit_transform(df1['Rating Category'])

In [ ]:
column_to_encode = ['Type', 'Content Rating']
df_encoded = pd.get_dummies(df1, columns=column_to_encode)
df_encoded.head()

In [ ]:
df_encoded

# 14. Segregate the target and independent features (Hint: Use Rating_category as the target)

In [ ]:
X = df_encoded.drop(columns=['Rating Category'])
y = df_encoded['Rating Category']

In [ ]:
X.head()

In [ ]:
y.head()

# 15. Split the dataset into train and test.

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

# 16. Standardize the data, so that the values are within a particular range.

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_Scaled = scaler.fit_transform(X_train)
X_test_Scaled = scaler.transform(X_test)

In [ ]:
print("Standardized X_train:")
print(pd.DataFrame(X_train_Scaled, columns=X_train.columns))
print("\nStandardized X_test:")
print(pd.DataFrame(X_test_Scaled, columns=X_test.columns))